body {
    padding-bottom: 0;
}

.feature-protocol {
    display: flex;
    justify-content: center;
    max-height: 5rem;
    max-width: 80%;
    float: right;

    @media(max-width: 459px) { 
        max-height: 3rem;
    }
}

.carousel {
    margin-bottom: 2rem;
}

.carousel > .img {
    max-width: 100%;
}

.section-title {
    padding-bottom: 20px;
}

.marketing .col-lg-4 {
    margin-bottom: 0;
}

.feature-icon {
    max-width: 25%;
    margin-right: 10%;
}

.features {
    padding-bottom: 0px;
    padding-top: 0px;
}

.logo-container {
   display: block;
   float: left;
   flex: 22rem;

   @media(max-width: 459px) {
        width: auto;
        flex: 0rem;
   }
}

.logo-icon {
    max-width: 3.5rem;
    float: left;

    @media(max-width: 459px) {
        max-width: 3.5rem;
    }
}

.logo-txt {
    white-space: nowrap;
    font-family: Arial Bold; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 60px;
    text-decoration-line:none;

    @media(max-width: 459px) {
        font-size: 40px;
        line-height: 54px;
    }
}

.nav-link {
    color: #255a8e !important;
    font-size: 18px;
}

.navbar-collapse {
    @media(max-width: 1100px) {
        max-width: 54%;
    }
}

.bg-dark-blue {
    background-color: #255a8e !important;
}

.bg-white {
    background-color: #fbf6f6 !important;
}

.carousel-indicators > li {
    background-color: #534d4d;
}

.footer-extended {
    display: grid;
    padding-top: 10px;
    max-width: 100%;
    color: rgb(223, 221, 221);
    clear: both;
    margin-bottom: -15px;
}

.img-fluid {
    max-height: 23rem;
}

.carousel-fixed {
    position: fixed ;
}

.tab-pane > figure {
    margin: 0;
    text-align: left;
}

.carousel-inner {
    margin-bottom: 20px;
    margin-top: 20px;
}

.strength-img {
    max-width: 100%;
    height: 140px;
}

.brand {
  width: 100%;
}

.small-brand {
  max-width: 25% !important;
  left: 40% !important;
}

.carousel-item {
    height: 39rem;
    transition: 0.5s;
}

.carousel-item img {
    height: 35rem;
    max-width: 100%;
}

@media(max-width: 459px) {
    .carousel-item > img {
        height: 15rem;
    }

    .carousel-item {
        height: 20rem;
    }
}

.small_pixel img {
    position: relative;
    display: block;
    margin: auto;
    min-width: 0;
    width: 80%;

    @media(max-width: 459px) {
        width: 100%;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.modal-title {
    font-size: 2.2rem;
    border-bottom: 1px solid #dee2e6;
    text-align: center
}

.modal-dialog {
    max-width: 140vh;
}

.modal-img {
    max-width: 60%;
    padding-top: 2%;
    float: left;
    flex:50%;
    
    @media(max-width: 459px) { 
        max-width: 100%;
    }
}

.modal-txt {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    flex-direction: column;
    flex:50%;

    @media(max-width: 459px) { 
        display: inline;
        float: left;
    }
}

.modal-container {
    display: flex;
    position: relative;
    justify-content: center;

    @media(max-width: 459px) { 
        display: inline-block;
    }
}

.modal-container > p {
    vertical-align: middle;
}

.modal-carousel {
    overflow-y: auto;
    height: 72vh;
    width: 100%;
}

.modal-carousel img {
    height: 27rem;
    max-width: 100%;

    @media(max-width: 459px) {
        height: 20rem;
    }
} 

.brand-carousel-item {
    height: auto;
}

.row > * {
    padding-top: calc(var(--bs-gutter-x));
}

.brand-carousel-item img {
    position: relative;
    height: 5rem;
    max-width: 70%;
    left: 15%;
    right: 15%;
}

.padding-0 {
    padding: 0;
}

.modal-brands {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) !important;
    padding-left: 15%;

    @media(max-width: 459px) {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)) !important;
        padding-left: 0;
    }
}

.modal-brands > div {
    padding: 0rem !important;
}

.modal-brands > img {
    max-width: 70px;
}

.single-modal-brands {
    padding-left: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.single-modal-brands > div > img {
    width: 100%;
    height: 6rem;
    object-fit: contain;
}

.brands {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

    @media(max-width: 459px) {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.brands > div {
    padding: 1rem;
    display: grid;
    justify-content: center;
}

.brands > div::before {
    content: "";
    display: block;
}

.brands > div::before,
.brands > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.brands > div > img {
    width: 100%;
    height: 6rem;
    object-fit: contain;
}

.caraousel-brands {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;

    @media(max-width: 459px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.caraousel-brands > div {
    padding: 1rem;
    display: grid;
    justify-content: center;
}

.caraousel-brands > div::before {
    content: "";
    display: block;
}

.caraousel-brands > div::before,
.caraousel-brands > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.caraousel-brands > div > img {
    width: 100%;
    height: 6rem;
    object-fit: contain;
}

.bx-tank-bolt {
    content: url("../assets/img/brands/tank_bolt.jpg");
    width: 250px;
    margin-bottom: 0;
}

.bx-yale {
    content: url("../assets/img/brands/yale.png");
    width: 60px;
}

.bx-forbix {
    content: url("../assets/img/brands/forbix.png");
    width: 60px;
}

.bx-air-o-water {
    content: url("../assets/img/brands/air_o_water.jpg");
    width: 250px;
    margin-bottom: 0;
}

.bx-renewable {
    content: url("../assets/img/brands/renewable_energy.png");
    width: 250px;
    margin-bottom: 0;
}

.services {
    padding-bottom: 0;
}

.services .icon-box-yellow .icon i {
    color: #fecb2f;
}
  
.services .icon-box-yellow:hover {
    border-color: #fecb2f;
}

.services .icon-box-java .icon i {
    color: #0facb8;
}
  
.services .icon-box-java:hover {
    border-color: #0facb8;
}

.services .icon-box-curious-blue .icon i {
    color: #228ec5;
}
  
.services .icon-box-curious-blue:hover {
    border-color: #228ec5;
}

.services .icon-box-cinnabar .icon i {
    color: #e45122;
}
  
.services .icon-box-cinnabar:hover {
    border-color: #e45122;
}

.services .icon-box-fiord .icon i {
    color: #455469;
}
  
.services .icon-box-fiord:hover {
    border-color: #455469;
}

ul.circle {
    float: left;
    list-style-type: circle;
}

.footer {
    display: block;
}

.footer-box {
    float: left;
    padding-left: 5%;
}

.order-1 {
    min-height: 29rem;

    @media(max-width: 459px) {
        min-height: 19rem;
    }
}

#header-nav-bar {
    transition: 0.2s;
}